*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-moz-selection {
    color: indigo;
    background: yellow;
}

*::selection {
    color: indigo;
    background: yellow;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*
 This styles is required to remove side-effect of the auto-complete
 Adding one hour delay would pause any css changes on the input element
*/
/* Starts */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    transition-delay: 3600s;
}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill::first-line {
    font-family: 'Ticketing';
    font-size: 18px;
}
/* Ends */

*::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background: #ffea21;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #54018b;
    border-radius: 4px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background: #7309b9;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ticketing';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/ticketing.regular.ttf') format('truetype');
}

@keyframes no-autofill {
    0%,
    100% {
        background-color: transparent;
    }
}

.background_main {
    height: 100%;
    background: radial-gradient(
        48.73% 48.73% at 50% 51.27%,
        #3a0176 17.07%,
        #290044 100%
    );
}
